body ,.navbar-light{

    background: rgba(28, 27, 27, 0.90);
}

.nav-link  {


border-left: 21px;
font-family: 'Allan', serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
color:white;

}

.dropdown-item{

    background-color: rgba(28, 27, 27, 0.90);
    color:FFFFFF;
    font-family: 'Allan', serif;
font-size: 20px;

}

.navbar{

    text-align: center;
}